# Autostart configuration file---
header-includes:
  - \usepackage{geometry}
  - \geometry{top=0.5in, bottom=0.5in}

  #   - \usepackage{sectsty}
  #   - \sectionfont{\LARGE}
  #   #   - \allsectionsfont{\LARGE}

  - \usepackage{sectsty}
  - \sectionfont{\huge} # for \section
  - \subsectionfont{\LARGE} # for \subsection
  - \subsubsectionfont{\large} # for \subsubsection
  #   - \paragraphfont{\normalsize} # optional for \paragraph
  - \renewcommand{\normalsize}{\large}
  - \AtBeginDocument{\normalsize} # Ensures normal text starts with large size
---

# vivaldi
# telegram-desktop
# spotify
terminator
subl
